<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CPP Compiler</h1>
    <div>
        <textarea id="codearea" cols="30" rows="10"></textarea>
        <button onclick="getOutput()">Submit</button>
        <div>
            <p id="output"></p>
        </div>
    </div>
</body>
</html>

<script>
    function getOutput() {
        const xhttp = new XMLHttpRequest()
        
        xhttp.open('POST', '/cppcompiler/')
        xhttp.setRequestHeader('Content-Type', 'text/plain')

        xhttp.onload = () => {
            if (xhttp.status >= 200 && xhttp.status < 400) {
                // let response = JSON.parse(xhttp.responseText);
                let response = xhttp.responseText
                document.querySelector('#output').textContent = response
            }
            else {
                console.error('Request failed with status: ', xhttp.status)
            }
        }
        
        xhttp.onerror = () => {
            console.error('Request failed')
        }
        
        let code = document.getElementById('codearea').value
        console.log(code)
        xhttp.send(code)
    }
</script>